[data-main] {
    opacity: 0;
    transform: translateY(50px);
    transition: .6s;
}

[data-slide-tecnologias] {
    opacity: 0;
    transform: translateY(-50px);
    transition: .6s;
}

[data-slide-populares] {
    opacity: 0;
    transition: .6s !important;
    position: relative;
    top: 100px;
}

[data-slide-populares].anima-slide{
    opacity: 1;
    top: 0px;
}



[data-front-end]{
    opacity: 0;
    transition: .6s !important;
    position: relative;
    top: 100px;
}

[data-front-end].anima-slide{
    opacity: 1;
    top: 0px;
}

[data-back-end]{
    opacity: 0;
    transition: .6s !important;
    position: relative;
    top: 100px;
}

[data-back-end].anima-slide{
    opacity: 1;
    top: 0px;
}

[data-titulo-populares] {
    opacity: 0;
    transform: translateY(50px);
    transition: .6s;
}

[data-front-titulo] {
    opacity: 0;
    transform: translateY(50px);
    transition: .6s;
}

[data-back-titulo] {
    opacity: 0;
    transform: translateY(50px);
    transition: .6s;
}

.anima-elemento {
    opacity: 1;
    transform: translateY(0);
    transition: .6s;
}




/* .anima-slide {
    opacity: 1;
    top: 0px;
} */