[data-main] {
    opacity: 0;
    transform: translateY(50px);
    transition: .6s;
}

[data-slide-tecnologias] {
    opacity: 0;
    transform: translateY(-50px);
    transition: .6s;
}

[data-populares] {
    opacity: 0;
    transition: .6s !important;
    position: relative;
    top: 100px;
}


[data-front-end]{
    opacity: 0;
    transition: .6s !important;
    position: relative;
    top: 100px;
}

[data-back-end]{
    opacity: 0;
    transition: .6s !important;
    position: relative;
    top: 100px;
}

.anima-elemento {
    opacity: 1;
    transform: translateY(0px);
    transition: .6s;
    top: 0;
}
