@tailwind base;
@tailwind components;
@tailwind utilities;

.container-width {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}


@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-Medium.ttf') format('ttf');
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter/Inter-Medium.ttf') format('ttf');
    font-display: swap;
    font-weight: 600;
}

header nav span {
    font-family: 'Poppins', sans-serif;
}

h1,
.logo {
    font-family: 'DM Serif Display', serif;
}

a {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Inter', sans-serif;
}

.titulo {
    font-family: Poppins;
}

.shadow-template {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .25);
}

.barra-de-pesquisa {
    font-family: 'poppins';
    font-size: .9rem;
}

[data-cursos-accordion] {
    transform: translateY(-50px);
    transition: .3s;
    opacity: 0;
    display: none;
}

.anima-cursos {
    transform: translateY(0px);
    opacity: 1;
    display: flex;
}

#ativa-cursos i {
    transition: .3s !important;
}

@media(max-width: 1024px) {
    .container-width {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
}

header {
    position: sticky;
    top: 0;
}

.menu-hamburguer {
    width: 35px;
    height: 14px;
    position: relative;
}

.menu-hamburguer::before,
.menu-hamburguer::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #222222 !important;
    height: .25rem;
    border-radius: 4px;
    position: absolute;
    transition: .3s;
}

.menu-hamburguer::after {
    top: 100%;
}

#menu-mobile:checked~label .menu-hamburguer::before {
    transform: rotate(225deg);
    top: 50%;
}

#menu-mobile:checked~label .menu-hamburguer::after {
    transform: rotate(-225deg);
    top: 50%;
}

.invert {
    filter: invert(1);
}
